.pad5{padding:5px;}
.map{
    width: 500px;
    height: 500px;
    
}
.listClick{
    cursor: pointer;
}
.right{
    float: right;
}
.title{
    font-weight: 700;
}

#errors{
    width:100%;
    margin:0 auto;
    color:#ff0000;
    height:auto;
}